* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

.nav-center {
  padding: 15px 50px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}

.nav-links {
  display: flex;
  gap: 20px;
}

li {
  list-style: none;
}

a {
  font-weight: bold;
  transition: 0.3s;

  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

a:focus,
a:focus {
  color: blue;
}

a:hover {
  color: black;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
}

.containerDescription {
  color: rgba(0, 0, 0, 0.6);
}

.color {
  text-transform: uppercase;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}

@media (max-width: 517px) {
  .nav-center h1 {
    font-size: 25px;
  }

  .nav-center {
    flex-direction: column;
    gap: 10px;
  }

  .container {
    width: 80%;
  }

  .container h2 {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 353px) {
  .container {
    width: 70%;
  }

  .container h2 {
    text-align: center;
    font-size: 17px;
  }

  .containerDescription {
    font-size: 14px;
  }
}
